.board {
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;

    background-color: $color--light-background;
}
.drawer {
    position: absolute;
    height: 100%;
    width: 50%; //temp
    background-color: $color--dark-background;
}