// COLORS
$color--white: #ffffff;
$color--black: #000000;


$color--light-background: $color--white;
$color--dark-background: $color--black;

$color--card-white: $color--white;
$color--card-black: $color--black;

$color--card-placeholder: darken($color--light-background, 30%);

$color--scoreboard-row: lighten($color--dark-background, 30%);

$color--accent: #0cd17f;
$color--light-accent: lighten($color--accent, 10%);
$color--dark-accent: darken($color--accent, 10%);
// DIMENSIONS
$size: 1rem;

$size--font: $size;

//EDIT THESE
$mobile-landscape-font-scalar: 1.8vh;
$mobile-portrait-font-scalar: 2.5vw;
$desktop-landscape-font-scalar: 1.5vh;
//==========

$size--font--card: 2;
$size--button-padding: $size/2;
$size--button-margin: $size/5;

$card-scalar: 2;
$card-height: 11;
$card-width: 9;

$size--card-border-radius: $size/3*2;
$size--white-card-height: $card-height*$card-scalar;
$size--white-card-width: $card-width*$card-scalar;
$size--black-card-height: $card-height*$card-scalar;
$size--black-card-width: $card-width*$card-scalar;

$size--cards-padding: $size/2;
// EDIT THESE  FOR PADDING
$size--cards-padding-mobile-portrait: $size--cards-padding;
$size--cards-padding-mobile-landscape: $size--cards-padding;
$size--cards-padding-desktop-landscape: $size--cards-padding;
//FONTS
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-title: 'Rubik', Helvetica, Arial, sans-serif;