// Home/Welcome Page
.home {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;

    .box {
        display: block;
        width: 80%;
        align-self: center;
        
        &__title {
            font-size: $size * 2;
            font-weight: bolder;
            text-transform: uppercase;
            margin-top: $size;
            @for $i from 0 through 2 {
                span {
                    display: block;
                    line-height: 1.4 * $size;
                    font-family: $font-title;                    
                }
                &__padding-#{$i} {
                    padding-left: 0 + $i * 0.9em;
                }
            }
        }
        &__subtitle {
            width: 100%;
            text-align: left;
            margin: $size 0;
            font-family: $font-title;
            font-size: $size * 1.5;
            font-weight: bolder;
            text-transform: uppercase;
        }
        &__content {
            width: 100%;
            padding: $size 0;
            text-align: center;
        }
        &__rooms {
            font-size: $size--font;
            padding: 0;
            margin-bottom: $size;
            list-style: none;
            .player-score {
                display: block;
                padding: $size--button-padding;
                background-color: $color--light-background;
                font-size: $size;
                border-radius: 0.5 * $size;
                background-color: $color--dark-player-score;
                &:nth-child(even) {
                    background-color: $color--light-player-score;
                }
                &__points {
                    float: right;
                }
                &--placeholder {
                    border: $size--button-margin dashed $color--dark-player-score;
                    background-color: $color--white;
                    color: $color--dark-player-score;
                }
            }
        }
    }

}