@import "variables.scss";
@import "animations.scss";
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline-style: none;
    font-family: $font;
}
body {
    overflow: hidden;
}
.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color--light-background;
}

.container {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 0;
}

@import "buttons.scss";
@import "welcome.scss";
@import "game.scss";
@import "mediaqueries.scss";
// UTILITIES
.shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), 0 -2px 6px rgba(0,0,0,0.16), 0 -1px 6px rgba(0,0,0,0.23);
}

.hidden {
    display: none;
}