<!-- Board -->
<div class="board">
  <div class="black-card__container">
    <div class="black-card card-shadow" id="black-card">
      <p class="black-card__text">{{blackCard.text}}</p>
    </div>
  </div>
  <div class="timer__container">
    <button class="start-button" type="button" ng-if="iAmGameMaster" ng-click="startGame()">Start</button>
    <div class="timer hidden">
      <img class="timer__icon" src="img/clock.svg" alt="Time left">
      <div class="timer__bar"></div>
      <span class="timer__text">10</span>
    </div>
  </div>
  <div class="played-cards__container">
    <ul class="white-card__container">
      <!-- white cards loop here -->
      <!-- Per carta da selezionare guarda qui
        http://stackoverflow.com/a/32893768/3637244-->
      <li class="white-card card-shadow" ng-repeat="whiteCard in [1,2,3,4,5,6,7,8,9,10]">
        <p class="white-card__text">{{whiteCard}}</p>
      </li>
    </ul>
  </div>
</div>
<!-- Drawer (collapsable left column)-->
<div class="drawer">
  <div class="scoreboard" ng-class="{hidden:!isScoreboard}">
    <h3 class="scoreboard__title">Punteggi</h3>
    <button class="drawer__switch" ng-click="isScoreboard=!isScoreboard">[toggle]</button>
    <ul class="player-score__container">
      <li class="player-score" ng-repeat="(id, player) in players | orderObjectBy : 'points' : true">
        {{player.name}}
        <span class="points">{{player.points}}</span>
        <img ng-src="{{(player.isGameMaster?'../img/crown.png':null)}}"/>
      </li>
    </ul>
  </div>
  <div class="player-hand" ng-class="{hidden:isScoreboard}">
    <h3 class="player-hand__title">La tua mano</h3>
    <button class="drawer__switch" ng-click="isScoreboard=!isScoreboard">[toggle]</button>
    <ul class="white-card__container white-card__container--expanded">
      <!-- white cards loop here -->
      <li class="white-card white-card--expanded card-shadow" ng-repeat="whiteCard in whiteCards">
        <p class="white-card__text">{{whiteCard}}</p>
      </li>
    </ul>
  </div>
</div>