<!-- Board -->
<div class="board">
  <div class="board__section board__section__top">
    <div class="black-card shadow" id="black-card" ng-class="{'flip': blackCard}">
      <p class="black-card__text" ng-bind-html="blackCard.text"></p>
      <span class="black-card__pick">{{blackCard ? 'Pick: ' + blackCard.pick : ''}}</span>
    </div>
  </div>
  <div class="board__section board__section__middle">
    <button class="start-button pop" type="button" ng-if="iAmGameMaster && gameState==0" ng-click="startGame()">Start</button>
    <div class="waiting-text pop" ng-if="!iAmGameMaster && gameState!=1" ng-switch="gameState">
      <span ng-switch-when="0">Aspettando che il GameMaster avvii la partita...</span>
      <span ng-switch-when="2">Il vincitore è...</span>
    </div>
    <div class="waiting-text pop" ng-if="iAmGameMaster && gameState!=0 && gameState!=1" ng-switch="gameState">
      <span ng-switch-when="2">Scegli il vincitore!</span>
    </div>
    <div class="timer pop" ng-if="gameState==1" >
      <div class="timer__bar" style="width: {{time*10/3}}%"></div>        
      <img class="timer__icon" src="img/clock.svg" alt="Time left">
      <span class="timer__text">{{time+1}}</span>
    </div>
  </div>
  <div class="board__section board__section__bottom">
    <ul class="cards">
      <!-- white cards loop here -->
      <!-- Per carta da selezionare guarda qui
        http://stackoverflow.com/a/32893768/3637244-->
      <li class="cards__item shadow pop" ng-repeat="(key, value) in playedCards" ng-click="gameState==2 && iAmGameMaster && pickWinner({id: value.player, cards: value.cards})" ng-class="{'flip': (gameState==2 || gameState==3) && value.player != playerid, 'white-card--highlight': gameState==3 && winner==value.player}">
        <div class="white-card white-card--folded shadow pop" ng-repeat="card in value.cards">
          <p class="white-card__text" ng-bind-html="(gameState==2 || gameState==3 || value.player == playerid) ? card : ''"></p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Drawer (collapsable)-->
<div class="drawer">
  <div class="drawer__header">
    <h3 class="drawer__header__title" ng-show="!isScoreboard">Carte</h3>
    <h3 class="drawer__header__title" ng-show="isScoreboard">Punti</h3>    
    <button class="drawer__header__switch" ng-show="!isScoreboard" ng-click="isScoreboard=!isScoreboard">
      <img class="drawer__header__switch__icon" src="../img/cards.png" alt="Cambia">
    </button>
    <button class="drawer__header__switch" ng-show="isScoreboard" ng-click="isScoreboard=!isScoreboard">
      <img class="drawer__header__switch__icon" src="../img/scoreboard.png" alt="Cambia">
    </button>
  </div>
  <div class="scoreboard fade" ng-class="{hidden:!isScoreboard}">
    <ul class="scoreboard__scores">
      <li class="player-score" ng-class="{'player-score--you' : player.id==playerid}" ng-repeat="(id, player) in players | orderObjectBy : 'points' : true">
        {{player.name}}
        <img class="player-score__icon" src="../img/rating.svg" ng-show="player.isGameMaster"/>
        <span class="player-score__points">{{player.points}}</span>
      </li>
    </ul>
  </div>
  <div class="player-hand fade" ng-class="{hidden:isScoreboard}">
    <ul class="cards shadow slide-in-right">
      <!-- white cards loop here -->
      <li class="white-card shadow pop" ng-repeat="whiteCard in whiteCards" ng-click="!iAmGameMaster && gameState==1 && myPlayedCards.length<blackCard.pick && playCard($index)">
        <p class="white-card__text" ng-bind-html="whiteCard"></p>
      </li>
    </ul>
  </div>
</div>

<!-- Highlight -->
<div class="highlight" ng-show="gameState === 3 || showNewGameMaster || isWaitingRoom || isToKick">
  <div class="highlight__cards" ng-show="gameState === 3">
    <div class="black-card shadow slide-in-left" id="black-card">
      <p class="black-card__text" ng-bind-html="gameState==3 ? blackCard.text : ''"></p>
      <span class="black-card__pick">{{'Pick: ' + blackCard.pick}}</span>
    </div>
    <div class="cards shadow slide-in-right">
      <div class="white-card white-card--folded shadow" ng-repeat="card in winnerCards">
        <p class="white-card__text" ng-bind-html="card"></p>
        <span class="winner__text">Giocata da {{players[winner].name}}</span>
      </div>
    </div>
  </div>
  <p class="highlight__text" ng-show="showNewGameMaster">Sei il GameMaster</p>
  <p class="highlight__text" ng-show="isWaitingRoom">Attendi il prossimo turno</p>  
  <p class="highlight__text" ng-show="isToKick">Non risulti partecipante ad una partita.<br>Verrai reindirizzato al menu principale.</p>
</div>