<div class="home">
    <div class="box">
        <h1 class="box__title">
            <span class="box__title__padding-0">Cards</span>
            <span class="box__title__padding-1">against</span>
            <span class="box__title__padding-2">Humanity</span>
        </h1>
        <div class="box__content" ng-show="!homeIntro">
            <!-- Welcome screen -->
            <input class="text-input start-button--full" type="text" name="playerName" placeholder="Tuo nome" ng-model="playerName" ng-class="{'text-input--red' : playerNameWrong, 'shake' : playerNameWrong}">
            <button class="start-button start-button--full"
                    ng-click="menuCreate()">
                Crea una partita!
            </button>
            <button class="start-button start-button--full"
                    ng-click="menuJoin()">
                Unisciti a una partita!
            </button>
        </div>
        <div class="box__content" ng-show="homeIntro">
            <!-- Create Room -->
            <div ng-show="homeIntro && homeCreateRoom">
                <input class="text-input start-button--full" type="text" name="roomName" placeholder="Nome stanza" ng-model="roomName">
                <select class="text-input start-button--full"
                        ng-init="lang='ita'" ng-model="lang">
                    <option value="ita">Italiano</option>
                    <option value="eng">Inglese</option>
                </select>
                <button class="start-button start-button--full"
                        type="button" name="create_room" ng-click="createRoom()">
                    Crea una partita!
                </button>
            </div>
            <!-- Join Room -->
            <div ng-show="homeIntro && homeJoinRoom">
                <!--<input class="text-input" type="tel" name="roomId" placeholder="1234" pattern="[1-9][0-9]{3}" 
                    ng-model="roomId" ng-class="{'text-input--red' : roomIdWrong}">
                <button class="start-button start-button--full" type="button" name="join_room" ng-click="joinRoom()">
                    Unisciti alla partita!
                </button>-->
                <h2 class="box__subtitle">Stanze</h2>
                <ul class="box__rooms">
                    <li class="player-score player-score--placeholder" ng-show="roomList.length === 0">VUOTO</li>
                    <li class="player-score" ng-repeat="(id, room) in roomList" ng-show="room.name" ng-click="getRoom(id); joinRoom()">
                        {{room.name}}
                        <span class="player-score__points">{{room.length}}</span>
                    </li>
                </ul> 
            </div>
            <button class="start-button start-button--full start-button--secondary" type="button" name="join_room" ng-click="homeJoinRoom=false; homeCreateRoom=false; homeIntro=false">
                Indietro
            </button>
        </div>
    </div>
    <!--<div class="box" ng-show="homeIntro && homeJoinRoom">
        
    </div>-->
</div>